body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffab00;
    font-size:1em;
}
html {
    height: 100%;
    font-size:16px;
    font-family:'Roboto','arial',serif;
    scroll-behavior:smooth;
    
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 1000px){
      img{width:100%;}
  }
